@{
    ViewData["Title"] = "Home Page";
}


<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container d-flex flex-column align-items-center">
        <h1>Dylan Poole</h1>
        <h2 class="animate-typing" data-animate-loop="false" data-type-speed="35" data-type-delay="200" data-type-remove-delays="500">
            Full Stack Developer
            </h2>
        
    </div>
</section><!-- End Hero -->
