
@{
	ViewData["Title"] = "Links";
}

 <main id="main">



    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Centriq Class of Summer-Winter 2022</h2>
          <p>Below you will find the links to several of my classmates turned graduates that I learned to code alongside of.</p>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="~/assets/img/Centriq_Classmates/BDodd.jpg" class="testimonial-img" alt="Brittany Dodd">
                <h3>Brittany Dodd</h3>
                            <h4>Centriq Graduate/Full Stack Developer</h4>
                <a href="brittanydodd.net" target="_blank">
                  <p>
                    <i class="bx "></i>
                    Brittany's Personal Site
                    <i class="bi-link"></i>
                  </p>
                </a>
                            <a href="https://www.linkedin.com/in/brittany-dodd-230467249/" target="_blank">
                  <p>
                    <i class="bx"></i>
                    Brittany's LinkedIn
                    <i class="bi-linkedin"></i>
                                    @*<i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    Brittany's LinkedIn
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>*@
                  </p>
                </a>
                            <a href="https://github.com/brittdodd" target="_blank">
                  <p>
                    <i class="bx"></i>
                    Brittany's GitHub
                    <i class="bi-github"></i>
                  </p>
                </a>
              </div>
            </div><!-- End Brittany -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="~/assets/img/Centriq_Classmates/CaseyB.jpg" class="testimonial-img" alt="Casey Brown">
                <h3>Casey Brown</h3>
                <h4>Centriq Graduate/Full Stack Developer</h4>
                <a href="https://www.somethingcachey.com/" target="_blank">
                  <p>
                    <i class="bx"></i>
                    Casey's Personal Site
                                    <i class="bi-link"></i>
                  </p>
                </a>
                            <a href="https://www.linkedin.com/in/CaseyBrownWD" target="_blank">
                  <p>
                    <i class="bx"></i>
                    Casey's LinkedIn
                                    <i class="bi-linkedin"></i>
                  </p>
                </a>
                            <a href="https://github.com/CaseyBrownWD" target="_blank">
                  <p>
                    <i class="bx"></i>
                    Casey's GitHub
                                    <i class="bi-github"></i>
                  </p>
                </a>
                </div>
            </div><!-- End Casey -->
            
            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="~/assets/img/Centriq_Classmates/Dawson.png" class="testimonial-img" alt="Dawson Meier">
                <h3>Dawson Meier</h3>
                            <h4>Centriq Graduate/Full Stack Developer</h4>
                            <a href="https://www.dawsonmeierdev.net/" target="_blank">
                  <p>
                    <i class="bx"></i>
                    Dawson's Personal Site
                                    <i class="bi-link"></i>
                  </p>
                </a>
                <a href="https://www.linkedin.com/in/dawson-meier-b9781a238/" target="_blank">
                  <p>
                    <i class="bx"></i>
                    Dawson's LinkedIn
                                    <i class="bi-linkedin"></i>
                  </p>
                </a>
                            <a href="https://github.com/dmeier12" target="_blank">
                  <p>
                    <i class="bx"></i>
                    Dawson's GitHub
                                    <i class="bi-github"></i>
                  </p>
                </a>
                </div>
            </div><!-- End Dawson -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="~/assets/img/Centriq_Classmates/Devin Kuhlman - Professional Photo.jpg" class="testimonial-img" alt="Devin Kuhlman">
                <h3>Devin Kuhlman</h3>
                            <h4>Centriq Graduate/Full Stack Developer</h4>
                <a href="http://www.devinkuhlman.com/" target="_blank">
                  <p>
                    <i class="bx"></i>
                    Devin's Personal Site
                                    <i class="bi-link"></i>
                  </p>
                </a>
                            <a href="https://www.linkedin.com/in/devin-kuhlman-9abb87222/" target="_blank">
                  <p>
                    <i class="bx"></i>
                    Devin's LinkedIn
                                    <i class="bi-linkedin"></i>
                  </p>
                </a>
                            <a href="https://github.com/DevinKuhlman" target="_blank">
                  <p>
                    <i class="bx"></i>
                    Devin's GitHub
                                    <i class="bi-github"></i>
                  </p>
                </a>
                </div>
            </div><!-- End Devin -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="~/assets/img/Centriq_Classmates/Jacquelyn.jpg" class="testimonial-img" alt="Jacquelyn Little">
                <h3>Jacquelyn Little</h3>
                            <h4>Centriq Graduate/Full Stack Developer</h4>
                            <a href="https://www.jacquelynlittle.com/" target="_blank">
                  <p>
                    <i class="bx"></i>
                    Jacquelyn's Personal Site
                                    <i class="bi-link"></i>
                  </p>
                </a>
                            <a href="https://www.linkedin.com/in/jacquelyn-little-937497249" target="_blank">
                  <p>
                    <i class="bx"></i>
                    Jacquelyn's LinkedIn
                                    <i class="bi-linkedin"></i>
                  </p>
                </a>
                            <a href="http://github.com/Jacquelyn525" target="_blank">
                  <p>
                    <i class="bx"></i>
                    Jacquelyn's GitHub
                                    <i class="bi-github"></i>
                  </p>
                </a>
                </div>
            </div><!-- End Jacquelyn -->
            
            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="~/assets/img/Centriq_Classmates/JohnW.jpg" class="testimonial-img" alt="Johnathan Walls">
                <h3>Johnathan Walls</h3>
                            <h4>Centriq Graduate/Full Stack Developer</h4>
                            <a href="https://www.jpwalls.com/" target="_blank">
                  <p>
                    <i class="bx"></i>
                    Johnathans Personal Site
                                    <i class="bi-link"></i>
                  </p>
                </a>
                <a href="https://www.linkedin.com/in/john-w-0151b31b3" target="_blank">
                  <p>
                    <i class="bx"></i>
                    Johnathan's LinkedIn
                                    <i class="bi-linkedin"></i>
                  </p>
                </a>
                            <a href="https://github.com/jpwalls08" target="_blank">
                  <p>
                    <i class="bx"></i>
                    Johnathan's GitHub
                                    <i class="bi-github"></i>
                  </p>
                </a>
                </div>
            </div><!-- End Johnathan -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="~/assets/img/Centriq_Classmates/Juno.jpg" class="testimonial-img" alt="Juno Lewis">
                <h3>Juno Lewis</h3>
                            <h4>Centriq Graduate/Full Stack Developer</h4>
                            <a href="https://www.jlewisinquiry.com/" target="_blank">
                  <p>
                    <i class="bx"></i>
                    Juno's Personal Site
                                    <i class="bi-link"></i>
                  </p>
                </a>
                <a href="https://www.linkedin.com/in/juno-lewis-825714247/" target="_blank">
                  <p>
                    <i class="bx"></i>
                    Juno's LinkedIn
                                    <i class="bi-linkedin"></i>
                  </p>
                </a>
                            <a href="https://github.com/Juno0311" target="_blank">
                  <p>
                    <i class="bx"></i>
                    Juno's GitHub
                                    <i class="bi-github"></i>
                  </p>
                </a>
                </div>
            </div><!-- End Juno -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="~/assets/img/Centriq_Classmates/KurtisC.jpeg" class="testimonial-img" alt="Kurtis Caldwell">
                <h3>Kurtis Caldwell</h3>
                            <h4>Centriq Graduate/Full Stack Developer</h4>
                            <a href="https://www.kurtiscaldwell.com/" target="_blank">
                  <p>
                    <i class="bx"></i>
                    Kurtis's Personal Site
                                    <i class="bi-link"></i>
                  </p>
                </a>
                            <a href="https://www.linkedin.com/in/kurtis-caldwell-b212bb24b/" target="_blank">
                  <p>
                    <i class="bx"></i>
                    Kurtis's LinkedIn
                                    <i class="bi-linkedin"></i>
                  </p>
                </a>
                            <a href="https://github.com/KCald86" target="_blank">
                  <p>
                    <i class="bx"></i>
                    Kurtis's GitHub
                                    <i class="bi-github"></i>
                  </p>
                </a>
              </div>
            </div><!-- End Kurtis -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="~/assets/img/Centriq_Classmates/Matt.jpg" class="testimonial-img" alt="Matthew Jennings">
                <h3>Matthew Jennings</h3>
                            <h4>Centriq Graduate/Full Stack Developer</h4>
                            <a href="https://www.matthewjennings.net" target="_blank">
                  <p>
                    <i class="bx"></i>
                    Matthew's Personal Site
                                    <i class="bi-link"></i>
                  </p>
                </a>
                            <a href="https://www.linkedin.com/in/matt-jennings-9bb1061b2" target="_blank">
                  <p>
                    <i class="bx"></i>
                    Matthew's LinkedIn
                                    <i class="bi-linkedin"></i>
                  </p>
                </a>
                            <a href="https://github.com/mejennings104" target="_blank">
                  <p>
                    <i class="bx"></i>
                    Matthew's GitHub
                                    <i class="bi-github"></i>
                  </p>
                </a>
              </div>
            </div><!-- End Matt -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="~/assets/img/Centriq_Classmates/PaigeS.jpg" class="testimonial-img" alt="Paige Scott">
                <h3>Paige Scott</h3>
                            <h4>Centriq Graduate/Full Stack Developer</h4>
                            <a href="https://www.readypaigeone.com/" target="_blank">
                  <p>
                    <i class="bx"></i>
                    Paige's Personal Site
                                    <i class="bi-link"></i>
                  </p>
                </a>
                            <a href="https://www.linkedin.com/in/think-paige-scott" target="_blank">
                  <p>
                    <i class="bx"></i>
                    Paige's LinkedIn
                                    <i class="bi-linkedin"></i>
                  </p>
                </a>
                            <a href="https://github.com/paigepaige3" target="_blank">
                  <p>
                    <i class="bx"></i>
                    Paige's GitHub
                                    <i class="bi-github"></i>
                  </p>
                </a>
              </div>
            </div><!-- End Paige -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="~/assets/img/Centriq_Classmates/seancoyan1_websize.jpg" class="testimonial-img" alt="Sean Coyan">
                <h3>Sean Coyan</h3>
                            <h4>Centriq Graduate/Full Stack Developer</h4>
                            <a href="https://www.seancoyan.com/" target="_blank">
                  <p>
                    <i class="bx"></i>
                    Sean's Personal Site
                                    <i class="bi-link"></i>
                  </p>
                </a>
                            <a href="https://www.linkedin.com/in/seancoyan/" target="_blank">
                  <p>
                    <i class="bx"></i>
                    Sean's LinkedIn
                                    <i class="bi-linkedin"></i>
                  </p>
                </a>
                            <a href="https://github.com/SeanCodes2" target="_blank">
                  <p>
                    <i class="bx"></i>
                    Sean's GitHub
                                    <i class="bi-github"></i>
                  </p>
                </a>
              </div>
            </div><!-- End Sean -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="~/assets/img/Centriq_Classmates/StormA.jpg" class="testimonial-img" alt="Storm Agnew">
                <h3>Storm Agnew</h3>
                            <h4>Centriq Graduate/Full Stack Developer</h4>
                            <a href="https://www.stormycoding.com/" target="_blank">
                  <p>
                    <i class="bx"></i>
                    Storm's Personal Site
                                    <i class="bi-link"></i>
                  </p>
                </a>
                            <a href="https://www.linkedin.com/in/storm-agnew-88396224b/" target="_blank">
                  <p>
                    <i class="bx"></i>
                    Storm's LinkedIn
                                    <i class="bi-linkedin"></i>
                  </p>
                </a>
                            <a href="https://github.com/StormAgnew" target="_blank">
                  <p>
                    <i class="bx"></i>
                    Storm's GitHub
                                    <i class="bi-github"></i>
                  </p>
                </a>
              </div>
            </div><!-- End Storm -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="~/assets/img/Centriq_Classmates/TannerL.JPG" class="testimonial-img" alt="Tanner Lampson">
                <h3>Tanner Lampson</h3>
                            <h4>Centriq Graduate/Full Stack Developer</h4>
                            <a href="https://www.tannermatthew.dev/" target="_blank">
                  <p>
                    <i class="bx"></i>
                    Tanner's Personal Site
                                    <i class="bi-link"></i>
                  </p>
                </a>
                            <a href="https://www.linkedin.com/in/tanner-matthew-dev" target="_blank">
                  <p>
                    <i class="bx"></i>
                    Tanner's LinkedIn
                                    <i class="bi-linkedin"></i>
                  </p>
                </a>
                            <a href="https://github.com/CyberTML" target="_blank">
                  <p>
                    <i class="bx"></i>
                    Tanner's GitHub
                                    <i class="bi-github"></i>
                  </p>
                </a>
              </div>
            </div><!-- End Tanner -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="~/assets/img/Centriq_Classmates/ZB.jpg" class="testimonial-img" alt="Zach Barkoviak">
                <h3>Zach Barkoviak</h3>
                            <h4>Centriq Graduate/Full Stack Developer</h4>
                <a href="https://www.zachbarkoviak.com" target="_blank">
                  <p>
                    <i class="bx"></i>
                    Zach's Personal Site
                                    <i class="bi-link"></i>
                  </p>
                </a>
                            <a href="https://www.linkedin.com/in/zachary-barkoviak-21b2b8249/" target="_blank">
                  <p>
                    <i class="bx"></i>
                    Zach's LinkedIn
                                    <i class="bi-linkedin"></i>
                  </p>
                </a>
                            <a href="https://github.com/ZachBarkoviak" target="_blank">
                  <p>
                    <i class="bx"></i>
                    Zach's GitHub
                                    <i class="bi-github"></i>
                  </p>
                </a>
              </div>
            </div><!-- End Zach -->
            
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

  </main><!-- End #main -->