@{
	ViewData["Title"] = "Resume";
}

<main id="main">

	<!-- ======= Resume Section ======= -->
	<section id="resume" class="resume">
		<div class="container" data-aos="fade-up">

			<div class="section-title">
				<h2>Resume</h2>
				<button class="btn btn-outline-dark" action="download">
					<a href=~/forms/DylanPooleResume.pdf>
						Resume Download
					</a>
				</button>
			</div> @*End Resume Download button*@

			<div class="row">
				<div class="col-lg-6">
					<h3 class="resume-title">Education</h3>
					<div class="resume-item pb-0">
						<h4>Bachelor of Criminal Justice</h4>
						<h5>2015 - 2019</h5>
						<p><em>Wayne State College</em></p>
						<ul>

							<li>1111 Main St., Wayne, NE</li>
							<li>(800) 228-9972</li>
						</ul>
						<p></p>
					</div> @*End Education*@


					<h3 class="resume-title">Certification</h3>
					<div class="resume-item pb-0">
						<h4>Full-Stack Web-Development</h4>
						<h5>Aug 2022 - Nov 2022</h5>
						<p><em>Centriq Training</em></p>
						<ul>

							<li>1740 W 92 St., Kansas City, MO</li>
							<li>(913) 322-7000</li>
						</ul>
						<p></p>
					</div>
				</div> @*End Certification*@


				<div class="col-lg-6">
					<h3 class="resume-title">Most Recent Job Experience</h3>
					<div class="resume-item">
						<h4>Grain Inspector</h4>
						<h5>01/2021 - 06/2022</h5>
						<p><em>603 E. Dodge St., Fremont, NE </em></p>
						<p>
							<ul>
								<li>Collect grain samples via mechanical diverter or 10ft probe.</li>
								<li>Pick through samples and assign different grades depending on the quality of the grain and other factors such as cofo's(Commercially Objectional Foreign Oders)</li>
								<li>Supervise grain being loaded at different grain elevators to ensure the grain is not being mishandled and misleading practices are not being used.</li>
							</ul>
						</p>
					</div> @*End FGI*@
					<div class="resume-item">
						<h4>Autozone Full-Time Delivery Driver and Sales Associate</h4>
						<h5>06-2020 - 01/2021</h5>
						<p><em>601 E. 23rd. St., Fremont, NE</em></p>
						<p>
							<ul>
								<li>Deliver commercial orders.</li>
								<li>Aid customers in finding the correct part(s) for their make and model of vehicles.</li>
								<li>Perform vehicle battery replacements and check tests.</li>
							</ul>
						</p>
					</div> @*End Autozone*@
				</div> @*End Job Experience Column*@
			</div> @*End Education Row*@

			<div class="row">
				<h3 class="resume-title">Professional References</h3>
				<div class="resume-item">
					<h4>Jeremy Bjornberg Jr.</h4>
					<p><em>NetSmart Technologies, Overland Park, KS</em></p>
					<ul>
						<li>Solution Support Analyst</li>

						<li>Overland Park, Kansas, KS</li>
						<li>(913) 444-2244</li>
					</ul>
				</div>
				<div class="resume-item">
					<h4>Jacob Meyer</h4>
					<p><em>Nebraska State Patrol, Grand Island, NE</em></p>
					<ul>
						<li>Nebraska State Trooper</li>
						<li>Fremont, Nebraska, NE</li>
						<li>(402) 317-0934</li>
					</ul>
				</div>
			</div> @*End References Row*@


		</div>

	</section><!-- End Resume Section -->

</main><!-- End #main -->