
@{
	ViewData["Title"] = "Resume";
}

<main id="main">

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Resume</h2>
                <button class="btn btn-outline-dark" action="download">
                    <a href=~/forms/UpdatedResume.docx>
                        Resume Download
                    </a>
                </button>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <h3 class="resume-title">Education</h3>
            <div class="resume-item pb-0">
              <h4>Bachelor of Criminal Justice</h4>
              <h5>2015 - 2019</h5>
              <p><em>Wayne State College, Wayne, NE</em></p>
              <ul>
                <li>1111 Main St.,Wayne,Nebraska, NE</li>
                <li>(800) 228-9972</li>
              </ul>
              <p></p>
            </div>

            <h3 class="resume-title">Professional References</h3>
            <div class="resume-item">
              <h4>Robert Bramlet</h4>
              <p><em>Fremont Grain Inspection, Fremont, NE</em></p>
              <ul>
                <li>Fremont,Nebraska, NE</li>
                <li>(651) 402-6234</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Jacob Meyer</h4>
              <p><em>Nebraska State Patrol, Grand Island, NE</em></p>
              <ul>
                <li>Fremont,Nebraska, NE</li>
                <li>(402) 317-0934</li>
              </ul>
            </div>
          </div>
          <div class="col-lg-6">
            <h3 class="resume-title">Most Recent Job Experience</h3>
            <div class="resume-item">
              <h4>Grain Inspector</h4>
              <h5>1/2021 - 6/2022</h5>
              <p><em>Fremont, Nebraska, NE </em></p>
              <p>
              <ul>
                <li>Collect grain samples via mechanical diverter or 10ft probe.</li>
                <li>Pick through samples and assign different grades depending on the quality of the grain and other factors such as cofo's(Commercially Objectional Foreign Oders)</li>
                <li>Supervise grain being loaded at different grain elevators to ensure the grain is not being mishandled and misleading practices are not being used.</li>
              </ul>
              </p>
            </div>
            <div class="resume-item">
              <h4>Autozone Full-Time Delivery Driver and Sales Associate</h4>
              <h5>6-2020 - 11/2020</h5>
              <p><em>Fremont, Nebraska, NE</em></p>
              <p>
              <ul>
                <li>Deliver commercial orders.</li>
                <li>Aid customers in finding the correct part(s) for their make and model of vehicles.</li>
                <li>Perform vehicle battery replacements and check tests.</li>
              </ul>
              </p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->

  </main><!-- End #main -->